html, body {
    height: 100%;
    margin: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/gym.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2em;
    color: white;
    font-size: 2em;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0.5em;
    color: #c1272d;
    font-size: 2em;
}



.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 0em;
}


#skinny {
    width: 25em;
   
}


ul {
list-style-type: none;
display: flex;
justify-content: center;
margin: 0em;
margin-right: 5em;
padding: 0em;
}

li img {    
    margin-left: 8em;
    margin-right: 3em;
}



ul:first-of-type img {
    width: 20em;
    align-items: center;
    display: flex;
}



#skinny {
    margin-bottom: 1em;
}

progress {
    width: 20em; 
    height: 2em; 
    border: none; 
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
}

progress::-webkit-progress-bar {
    background-color: #cccccc;
    border-radius: 3em;
}

progress::-webkit-progress-value {
    background-color: #808080;
    border-radius: 3em;
}

#progressBar2::-webkit-progress-bar {
    background-color: #d08585; 
    border-radius: 3em;
}

#progressBar2::-webkit-progress-value {
    background-color: #8f3a39;
    border-radius: 3em;
}

#steroids-knop {
    opacity: 0.5;
    cursor: not-allowed;
}

#steroids-knop.enabled {
    opacity: 1;
    cursor: pointer;
}

#restart-knop {
    width: 20em;
    margin-top: 2em;
}

.win-tekst {
    color: #f9c942;
}